@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ulc4i9');
  src:  url('../fonts/icomoon.eot?ulc4i9') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ulc4i9') format('truetype'),
    url('../fonts/icomoon.woff?ulc4i9') format('woff'),
    url('../fonts/icomoon.svg?ulc4i9') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-Calendar:before {
  content: "\e904";
}
.icon-Check-2:before {
  content: "\e905";
}
.icon-Check-3:before {
  content: "\e906";
}
.icon-Check-4:before {
  content: "\e907";
}
.icon-Down-Arrow:before {
  content: "\e908";
}
.icon-Envelope:before {
  content: "\e909";
}
.icon-Grid:before {
  content: "\e90a";
}
.icon-Hover-Arrow:before {
  content: "\e90b";
}
.icon-Left-Arrow:before {
  content: "\e90c";
}
.icon-List:before {
  content: "\e90d";
}
.icon-Location:before {
  content: "\e90e";
}
.icon-Minus:before {
  content: "\e90f";
}
.icon-Multiply-2:before {
  content: "\e910";
}
.icon-Multiply:before {
  content: "\e911";
}
.icon-Phone:before {
  content: "\e912";
}
.icon-Plus:before {
  content: "\e913";
}
.icon-Profile:before {
  content: "\e914";
}
.icon-Right-Arrow:before {
  content: "\e915";
}
.icon-Search-2:before {
  content: "\e916";
}
.icon-Search:before {
  content: "\e917";
}
.icon-Star:before {
  content: "\e918";
}
.icon-Video:before {
  content: "\e919";
}
