/*
Template Name    : MIIAS - Furniture Bootstrap 4 Reaponsive HTML5 Template
Version          : 1.0.0
Author           : Ashish Shah
Author URI       : http://ncodetechnologies.com//
Created.         : July 2018
File Description : Theme default CSS

/*----------------------------------------*/
/*  Theme default CSS
/*----------------------------------------*/
* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; *zoom:1;}
blockquote{color:#464243; font-weight:700; font-style:italic; font-size:24px; line-height:30px; padding:20px 0 20px 25px; border-left:1px solid #231f20; margin:30px 0;}

a {background:transparent; color:#231f20; outline:none; text-decoration:none; vertical-align:baseline; margin:0;  padding:0; -webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; transition:all .3s ease-in;}
a:hover{text-decoration:none; color:#eb2245;}
a:focus{outline:none;}
.btn.focus, .btn:focus {box-shadow:none !important;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
input, select {vertical-align:middle;}
h1, h2, h3, h4, h5, h6 {font-weight:400;}
img {max-width:100%; height:auto; width:auto\9; border:none; display:block;}
ul {list-style:none;}
strong {font-weight:700;}
.width100, header, footer, section {  /*float:left;*/  width:100% !important;}
.section-padding{padding:70px 0;}
.content-wrapper{background:#fff; position:relative; z-index:1;}


/* -----------------------------------------------------
	Input
----------------------------------------------------- */
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; -webkit-border-radius: 0; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0;}
input[type="search"] {-moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
input::-moz-focus-inner {border: 0; padding: 0;}
input[type="text"], input[type="password"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"] {outline: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none; font-weight: 400; font-family: 'Karla', sans-serif; background:#f6f6f6; color:#a7a7a7; font-size:16px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus, button:focus {outline: none;}
::-webkit-input-placeholder {color:#a7a7a7;}
:-moz-placeholder {color:#a7a7a7; opacity:1;}
::-moz-placeholder{color:#a7a7a7; opacity:1;}
:-ms-input-placeholder {color:#a7a7a7;}
::-ms-input-placeholder{color:#a7a7a7;}
::placeholder{color:#a7a7a7;}

textarea{overflow:auto; vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance:none; font-weight:400; border:none; font-size:16px;}
textarea:focus{outline:none;}

/*----------------------------------------*/
/*  Animate CSS
/*----------------------------------------*/

.animated{
  -webkit-animation-duration:3s;
  animation-duration:3s;
  -webkit-animation-delay:500ms;
  animation-delay:500ms;
}

.animate-out {
  -webkit-animation-delay:0ms;
  animation-delay:0ms;
}
/* Scroll to top */
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
	background: #231f20;
	color: #fff;
	line-height: 40px;
}
.scrollup:hover{ background:#fff;}


.font-red{ color:#eb2245;}
/*.equal-space{ padding:70px 0px 70px;}*/
.topmore-space{ padding-top:100px !important;}

.dropdown-menu{ margin:0px;}


/*----------------------------------------*/
/*  2. Loader
/*----------------------------------------*/
.load{height:100vh; width:100%; float:left; background:#fff url(../images/loadLogo.png) no-repeat center center; position:fixed; top:0; left:0; right:0; bottom:0; z-index:999;}
.load .loader{background: #eb2245; -webkit-animation: load1 2s infinite ease-in-out; animation: load1 2s infinite ease-in-out; width: 1px; height: 74px;}
.load .loader{color:#ffffff; text-indent:-9999em; margin:auto; position:relative; font-size:11px; -webkit-transform:translateZ(0); -ms-transform:translateZ(0); transform:translateZ(0); -webkit-animation-delay:-0.16s;  animation-delay:-0.16s; -ms-transform:rotate(52deg); -webkit-transform:rotate(52deg); transform:rotate(52deg); position:absolute; left:0px; right:41px; top:0px; bottom:0px;}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 0px;
  }
  40% {
    box-shadow: 0  0;
    height: 74px;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 0px;
  }
  40% {
    box-shadow: 0  0;
    height: 74px;
  }
}