@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66219196');
  src: url('../font/fontello.eot?66219196') format('embedded-opentype'),
       url('../font/fontello.woff2?66219196') format('woff2'),
       url('../font/fontello.woff?66219196') format('woff'),
       url('../font/fontello.ttf?66219196') format('truetype'),
       url('../font/fontello.svg?66219196') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66219196#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-magnifying-glass:before { content: '\e801'; } /* '' */
.icon-next:before { content: '\e802'; } /* '' */
.icon-sliders-1:before { content: '\e803'; } /* '' */
.icon-place:before { content: '\e804'; } /* '' */
.icon-right-quotation-mark:before { content: '\e805'; } /* '' */
.icon-right-thin-arrow-angle:before { content: '\e806'; } /* '' */
.icon-shop:before { content: '\e807'; } /* '' */
.icon-shopper:before { content: '\e808'; } /* '' */
.icon-shopping-bag:before { content: '\e809'; } /* '' */
.icon-telephone:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-pinterest:before { content: '\e80e'; } /* '' */
.icon-call:before { content: '\e80f'; } /* '' */
.icon-correct-symbol:before { content: '\e810'; } /* '' */
.icon-double-right-arrows-angles:before { content: '\e811'; } /* '' */
.icon-envelope:before { content: '\e812'; } /* '' */
.icon-facebook-logo:before { content: '\e813'; } /* '' */
.icon-google-plus:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e815'; } /* '' */
.icon-add:before { content: '\e816'; } /* '' */
.icon-grid:before { content: '\e817'; } /* '' */
.icon-remove:before { content: '\e818'; } /* '' */
.icon-grid-icon-3:before { content: '\e819'; } /* '' */
.icon-support:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-left-arrow:before { content: '\e81c'; } /* '' */
.icon-map:before { content: '\e81d'; } /* '' */
.icon-close:before { content: '\e81e'; } /* '' */
.icon-error:before { content: '\e81f'; } /* '' */
.icon-history:before { content: '\e820'; } /* '' */
.icon-wall-clock:before { content: '\e821'; } /* '' */
.icon-right-arrow:before { content: '\e822'; } /* '' */
.icon-down-arrow:before { content: '\e823'; } /* '' */
.icon-edit:before { content: '\e824'; } /* '' */
.icon-refresh:before { content: '\e825'; } /* '' */
.icon-question:before { content: '\e826'; } /* '' */
.icon-gear:before { content: '\e827'; } /* '' */
.icon-dustbin:before { content: '\e828'; } /* '' */
.icon-hand:before { content: '\e829'; } /* '' */
.icon-add-1:before { content: '\e82a'; } /* '' */
.icon-minus:before { content: '\e82b'; } /* '' */
.icon-paper-plane:before { content: '\e82c'; } /* '' */
.icon-repeat:before { content: '\e82d'; } /* '' */